<!DOCTYPE html>
<link rel="shortcut icon" type="image/" href="/static/images/icon.png"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
    <head>
        <title>TigerThrift</title>
    </head>
  <body>
    {% include 'header.html' %}
    <h3 class="text-center mt-3"><strong>Sell an Item</strong></h3>
    <div style="max-width: 750px; padding-left: min(50px, 10%); padding-right: min(50px, 10%);" class="m-auto">
        <form id="sell_form" action="/sellsuccess" value="" method = "POST">
            <div class="form-group m-2">
                <label id="input_prod_text" style="letter-spacing: 0.1em;">Product Name</label>
                <input id="input_prod" class="form-control" type="text" maxlength="45" 
                name = "prodname" placeholder="enter product name (up to 45 char)" required autofocus/>
            </div>
            <div class="d-flex flex-wrap">
                <div class="form-group col m-2" style="min-width: 230px;">
                    <label id="type_select_text" style="letter-spacing: 0.1em;" >Type</label>
                    <select id="type_select" name = "type" class="form-control" required>
                        <option selected value="">choose a type of clothing</option>
                        <option value="top">Top</option>
                        <option value="bottom">Bottom</option>
                        <option value="dress">Dress/Jumpsuit/Romper</option>
                        <option value="outerwear">Outerwear</option>
                        <option value="shoes">Shoes</option>
                        <option value="accessories">Accessories</option>
                    </select>
                </div>
                <div class="form-group col m-2" style="min-width: 160px;">
                    <label id="subtype_select_text" style="letter-spacing: 0.1em;">Subtype</label>
                    <select id="subtype_select" name = "subtype" class="form-control" disabled></select>
                </div>
                <div class="form-group col m-2" style="min-width: 130px;">
                    <label id="size_select_text" style="letter-spacing: 0.1em;">Size</label>
                    <select id="size_select" name = "size" class="form-control" disabled></select>
                </div>
            </div>
            <span class="form-group mx-0 row">
                <div class="form-group col m-2 p-0" style="min-width: 230px;">
                    <label id="input_gender_text" style="letter-spacing: 0.1em;">Clothing Gender</label>
                    <select id="input_gender" name = "gender" class="form-control" required>
                        <option selected value="">choose a gender</option>
                        <option value="mens">Men's Wear</option>
                        <option value="womens">Women's Wear</option>
                        <option value="unisex">Unisex</option>
                    </select>
                </div>
                <div class="form-group col m-2 p-0" style="min-width: 230px;">
                    <label id="input_color_text" style="letter-spacing: 0.1em;">Color</label>
                    <select id="input_color" name = "color" class="form-control"required>
                        <option value="">choose a color</option>
                        <option value="red">Red</option>
                        <option value="pink">Pink</option>
                        <option value="orange">Orange</option>
                        <option value="yellow">Yellow</option>
                        <option value="green">Green</option>
                        <option value="blue">Blue</option>
                        <option value="purple">Purple</option>
                        <option value="brown">Brown</option>
                        <option value="black">Black</option>
                        <option value="gray">Gray</option>
                        <option value="white">White</option>
                        <option value="silver">Silver</option>
                        <option value="gold">Gold</option>
                        <option value="multicolored">Multi-colored</option>
                    </select>
                </div>
            </span>
            <span class="form-group mx-0 row">
                <div class="form-group col m-2 p-0" style="min-width: 230px;">
                    <label id="input_condition_text" style="letter-spacing: 0.1em;">Condition</label>
                    <select id="input_condition" name = "condition" class="form-control" required>
                        <option value="">choose a condition</option>
                        <option value="brand new">Brand New</option>
                        <option value="like new">Like New</option>
                        <option value="gently used">Gently Used</option>
                        <option value="fairly used">Fairly Used</option>
                        <option value="very used">Very Used</option>
                    </select>
                </div>
                <div class="form-group col m-2 p-0" style="min-width: 230px;">
                    <label id="input_brand_text" style="letter-spacing: 0.1em;">Brand</label>
                    <input id="input_brand" type="int" name="brand" class="form-control"
                        placeholder="enter brand (up to 30 char)" maxlength="30" required>
                </div>
            </span>
            <span class="form-group mx-0 row">
                <div class="form-group col m-2 p-0" style="min-width: 230px;">
                    <label id="input_price_text" style="letter-spacing: 0.1em;">Price</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">$</span>
                        </div>
                        <input id="input_price" min="0" type="number" step="0.01" name = "price" class="form-control" placeholder="enter price (number)" required>
                    </div>
                </div>
                <div class="form-group col m-2 p-0" style="min-width: 230px;">
                    <label id="input_price_flex_text" style="letter-spacing: 0.1em;">Price Flexibility</label>
                    <select name = "priceflexibility" class="form-control" id="input_price_flex" required>
                        <option selected value="">choose a pricing option</option>
                        <option value="price-fixed">Price-Fixed</option>
                        <option value="price-negotiable">Price-Negotiable</option>
                    </select>
                </div>
            </span>
            <div class="form-group m-2">
                <label id="input_desc_text" style="letter-spacing: 0.1em;">Description</label>
                <textarea id="input_desc" type="int" name = "description" class="form-control" 
                    placeholder="enter decription of clothes" maxlength="500" required></textarea>
            </div>
            <div class="form-group m-2">
                <label id="input_phone_text" style="letter-spacing: 0.1em;">Phone Number (optional)</label>
                <input id="input_phone" class="form-control" type="number" maxlength="11" name="phone" placeholder="enter phone number (no dashes, just digits)">
                <p class="mb-0 text-secondary">*if you would like reservers of this item to contact you via text*</p>
            </div>
            <div id="photoupload" class="form-group m-2">
                <div class="card-deck row justify-content-center">
                    <div id="imagecard" class="card m-2" style="width:250px">
                        <img id="image" src="" class="p-1" class="card-img-top pt-2" style="width:220px; height:220px; overflow:hidden; object-fit:contain;">
                        <button id="delete_button" class="btn" type="button">
                            <i style="color: #f28b88;" class="fa fa-trash-o"></i>
                        </button>
                    </div>
                    <div id="imagecard1" class="card m-2" style="width:250px;">
                        <img id="image1" src="" class="p-1" class="card-img-top pt-2" style="width:220px; height:220px; overflow:hidden; object-fit:contain;">
                        <button id="delete_button1" class="btn" type="button">
                            <i style="color: #f28b88;" class="fa fa-trash-o"></i>
                        </button>
                    </div>
                    <div id="imagecard2" class="card m-2" style="width:250px;">
                        <img id="image2" src="" class="p-1" class="card-img-top pt-2" style="width:220px; height:220px; overflow:hidden; object-fit:contain;">
                        <button id="delete_button2" class="btn" type="button">
                            <i style="color: #f28b88;" class="fa fa-trash-o"></i>
                        </button>
                    </div>
                    <div id="imagecard3" class="card m-2" style="width:250px;">
                        <img id="image3" src="" class="p-1" class="card-img-top pt-2" style="width:220px; height:220px; overflow:hidden; object-fit:contain;">
                        <button id="delete_button3" class="btn" type="button">
                            <i style="color: #f28b88;" class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </div>
                <button id="upload_widget" type="button" class="btn btn-dark mt-2" style="width: 100%; letter-spacing: 0.1em;">upload photo of item (up to 4)</button>
            </div>
            <br>
            <input type="hidden" id="photolink" name ="photolink" value = "" required>
            <input type="hidden" id="photolink1" name ="photolink1" value = "">
            <input type="hidden" id="photolink2" name ="photolink2" value = "">
            <input type="hidden" id="photolink3" name ="photolink3" value = "">

            <div class="text-center form-group m-2 mb-5">
                <button formaction="/sellsuccess" formmethod="POST"
                    type="submit" class="btn btn-dark px-5" values="Go" style="letter-spacing: 0.2em;">Create Item!</button>
            </div>
        </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
        <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
    
        <script type="text/javascript">
            document.getElementById("shop_header").style.color = "#000000";
            document.getElementById("sell_header").style.color = "#2B6FF4";
            document.getElementById("profile_header").style.color = "#000000";
            document.getElementById("about_header").style.color = "#000000";
            document.getElementById("tutorial_header").style.color = "#000000";

            function noBorder() {
                document.getElementById("input_prod_text").style.color = '';
                document.getElementById("type_select_text").style.color = '';
                document.getElementById("subtype_select_text").style.color = '';
                document.getElementById("size_select_text").style.color = '';
                document.getElementById("input_gender_text").style.color = '';
                document.getElementById("input_price_text").style.color = '';
                document.getElementById("input_price_flex_text").style.color = '';
                document.getElementById("input_brand_text").style.color = '';
                document.getElementById("input_condition_text").style.color = '';
                document.getElementById("input_color_text").style.color = '';
                document.getElementById("input_desc_text").style.color = '';
                document.getElementById("input_phone_text").style.color = '';

                document.getElementById("input_prod").style.removeProperty('border');
                document.getElementById("type_select").style.removeProperty('border');
                document.getElementById("subtype_select").style.removeProperty('border');
                document.getElementById("size_select").style.removeProperty('border');
                document.getElementById("input_gender").style.removeProperty('border');
                document.getElementById("input_price").style.removeProperty('border');
                document.getElementById("input_price_flex").style.removeProperty('border');
                document.getElementById("input_brand").style.removeProperty('border');
                document.getElementById("input_condition").style.removeProperty('border');
                document.getElementById("input_color").style.removeProperty('border');
                document.getElementById("input_desc").style.removeProperty('border');
                document.getElementById("input_phone").style.removeProperty('border');
                document.getElementById("imagecard").style.removeProperty('border');
                document.getElementById("imagecard1").style.removeProperty('border');
                document.getElementById("imagecard2").style.removeProperty('border');
                document.getElementById("imagecard3").style.removeProperty('border');
            }
            function setup() {
                if ("{{user_info['phone']}}" != "unknown" && "{{user_info['phone']}}" != "None" ) {
                    $("#input_phone").val("{{user_info['phone']}}");
                }
                else {
                    $('#input_phone').attr('placeholder', 'enter phone number (no dashes, just digits)');
                }
                $('#imagecard').hide();
                $('#imagecard1').hide();
                $('#imagecard2').hide();
                $('#imagecard3').hide();
                document.getElementById("input_prod_text").style.color = "#2B6FF4";
                document.getElementById("input_prod").style.borderColor = "#2B6FF4";
                
                $("#input_prod").click(function(){
                    noBorder();
                    document.getElementById("input_prod_text").style.color = "#2B6FF4";
                    document.getElementById("input_prod").style.borderColor = "#2B6FF4";
                });
                $("#type_select").click(function(){
                    noBorder();
                    document.getElementById("type_select_text").style.color = "#2B6FF4";
                    document.getElementById("type_select").style.borderColor = "#2B6FF4";
                });
                $("#subtype_select").click(function(){
                    noBorder();
                    document.getElementById("subtype_select_text").style.color = "#2B6FF4";
                    document.getElementById("subtype_select").style.borderColor = "#2B6FF4";
                });
                $("#size_select").click(function(){
                    noBorder();
                    document.getElementById("size_select_text").style.color = "#2B6FF4";
                    document.getElementById("size_select").style.borderColor = "#2B6FF4";
                });
                $("#input_gender").click(function(){
                    noBorder();
                    document.getElementById("input_gender_text").style.color = "#2B6FF4";
                    document.getElementById("input_gender").style.borderColor = "#2B6FF4";
                });
                $("#input_price").click(function(){
                    noBorder();
                    document.getElementById("input_price_text").style.color = "#2B6FF4";
                    document.getElementById("input_price").style.borderColor = "#2B6FF4";
                });
                $("#input_price_flex").click(function(){
                    noBorder();
                    document.getElementById("input_price_flex_text").style.color = "#2B6FF4";
                    document.getElementById("input_price_flex").style.borderColor = "#2B6FF4";
                });
                $("#input_brand").click(function(){
                    noBorder();
                    document.getElementById("input_brand_text").style.color = "#2B6FF4";
                    document.getElementById("input_brand").style.borderColor = "#2B6FF4";
                });
                $("#input_condition").click(function(){
                    noBorder();
                    document.getElementById("input_condition_text").style.color = "#2B6FF4";
                    document.getElementById("input_condition").style.borderColor = "#2B6FF4";
                });
                $("#input_color").click(function(){
                    noBorder();
                    document.getElementById("input_color_text").style.color = "#2B6FF4";
                    document.getElementById("input_color").style.borderColor = "#2B6FF4";
                });
                $("#input_desc").click(function(){
                    noBorder();
                    document.getElementById("input_desc_text").style.color = "#2B6FF4";
                    document.getElementById("input_desc").style.borderColor = "#2B6FF4";
                });
                $("#input_phone").click(function(){
                    noBorder();
                    document.getElementById("input_phone_text").style.color = "#2B6FF4";
                    document.getElementById("input_phone").style.borderColor = "#2B6FF4";
                });
                
                let numPhoto = 0;

                var myWidget = cloudinary.createUploadWidget({
                    cloudName: 'dbnkmun6k', 
                    api_key : "535599746493582",
                    resourceType: "image",
                    sources: ['local', 'camera', 'google_drive', 'url'],
                    cropping: true,
                    uploadPreset: 'tigerthrift'}, (error, result) => {
                        if (!error && result && result.event === "success") { 
                            console.log('Done! Here is the image info: ', result.info); 
                            imageUrl = result.info.url;
                            console.log("url: " + imageUrl);
                            if ($('#image').attr("src") == '') {
                                $('#image').attr("src", imageUrl);
                                console.log("photolink val : " + $('#photolink').val());
                                $('#photolink').val(imageUrl);
                                $('#imagecard').show();
                                $('#upload_widget').text("upload another photo (up to 4)");
                            }
                            else if ($('#image1').attr("src") == '') {
                                $('#image1').attr("src", imageUrl);
                                $('#photolink1').val(imageUrl);
                                console.log("photolink1 val : " + $('#photolink1').val());
                                $('#imagecard1').show();
                            }
                            else if ($('#image2').attr("src") == '') {
                                $('#image2').attr("src", imageUrl);
                                $('#photolink2').val(imageUrl);
                                console.log("photolink2 val : " + $('#photolink2').val());
                                $('#imagecard2').show();
                            }
                            else if ($('#image3').attr("src") == '') {
                                $('#image3').attr("src", imageUrl);
                                $('#photolink3').val(imageUrl);
                                console.log("photolink3 val : " + $('#photolink3').val());
                                $('#imagecard3').show();
                            }
                            numPhoto += 1;
                            if (numPhoto == 4) {
                            $('#upload_widget').attr("disabled", true);
                            }                                                  
                        if (error){
                            console.log("error uploading");} 
                    }
                }
                )
                document.getElementById("upload_widget").addEventListener("click", function(){
                    myWidget.open();
                }, false);

                $("#delete_button").click(function(){
                    $('#image').attr("src", $('#image1').attr("src"));
                    $('#image1').attr("src", $('#image2').attr("src"));
                    $('#image2').attr("src", $('#image3').attr("src"));
                    $('#image3').attr("src", "");
                    if ($('#image').attr("src") == "") {
                        $('#imagecard').hide();
                    }
                    if ($('#image1').attr("src") == "") {
                        $('#imagecard1').hide();
                    }
                    if ($('#image2').attr("src") == "") {
                        $('#imagecard2').hide();
                    }
                    $('#imagecard3').hide();
                    $('#photolink').val($('#photolink1').val());
                    $('#photolink1').val($('#photolink2').val());
                    $('#photolink2').val($('#photolink3').val());
                    $('#photolink3').val("");
                    numPhoto -= 1;
                    $('#upload_widget').attr("disabled", false)
                    if (numPhoto == 0) {
                        $('#upload_widget').text("upload a photo (up to 4)")
                    }
                })
                $("#delete_button1").click(function(){
                    $('#image1').attr("src", $('#image2').attr("src"));
                    $('#image2').attr("src", $('#image3').attr("src"));
                    $('#image3').attr("src", "");
                    if ($('#image1').attr("src") == "") {
                        $('#imagecard1').hide();
                    }
                    if ($('#image2').attr("src") == "") {
                        $('#imagecard2').hide();
                    }
                    $('#imagecard3').hide();
                    $('#photolink1').val($('#photolink2').val());
                    $('#photolink2').val($('#photolink3').val());
                    $('#photolink3').val("");
                    numPhoto -= 1;
                    $('#upload_widget').attr("disabled", false)
                    if (numPhoto == 0) {
                        $('#upload_widget').text("upload a photo (up to 4)")
                    }
                })
                $("#delete_button2").click(function(){
                    $('#image2').attr("src", $('#image3').attr("src"));
                    $('#image3').attr("src", "");
                    if ($('#image2').attr("src") == "") {
                        $('#imagecard2').hide();
                    }
                    $('#imagecard3').hide();
                    $('#photolink2').val($('#photolink3').val());
                    $('#photolink3').val("");
                    numPhoto -= 1;
                    $('#upload_widget').attr("disabled", false)
                    if (numPhoto == 0) {
                        $('#upload_widget').text("upload a photo (up to 4)")
                    }
                })
                $("#delete_button3").click(function(){
                    $('#image3').attr("src", "");
                    $('#photolink3').val("");
                    $('#imagecard3').hide();
                    numPhoto -= 1;
                    $('#upload_widget').attr("disabled", false)
                    if (numPhoto == 0) {
                        $('#upload_widget').text("upload a photo (up to 4)")
                    }
                })

                $("#type_select").change(function(){
                    let selected = $("#type_select").val();
                    let subtypes = [];
                    let sizes = [];

                    console.log("selected: " + selected);

                    if (selected == "top") {
                        subtypes.push("T-shirt", "Bodysuit", "Tanks",  "Shirt", "Blouse", "Blazer", "Sweater");
                        sizes.push("XXS (W)", "XS (W)", "S (W)", "M (W)", "L (W)", "XL (W)", "XXL (W)","XS (M)", "S (M)", "M (M)", "L (M)", "XL (M)", "XXL (M)");
                    }

                    if (selected == "bottom") {
                        subtypes.push("Pants", "Skirt", "Shorts", "Jeans");
                        sizes.push("XXS (W)", "XS (W)", "S (W)", "M (W)", "L (W)", "XL (W)", "XXL (W)",
                    "XS (M)", "S (M)", "M (M)", "L (M)", "XL (M)", "XXL (M)", "24”", "25”", "26”", "27”", "28”", "29”", "30”", "31”", "32”", "33”", "34”", "35”", "36”", "37”", "38”", "39”", "40”", "41”", "42”", "43”", "44”", "45”", "46”",
                    "00", "0", "2", "4", "6", "8", "10", "12", "14", "16", "18");
                    }

                    if (selected == "dress") {
                        subtypes.push("Casual", "Semi-Formal", "Formal");
                        sizes.push("XXS (W)", "XS (W)", "S (W)", "M (W)", "L (W)", "XL (W)", "XXL (W)", "00", "0", "2", "4", "6", "8", "10", "12", "14", "16", "18");
                    }

                    if (selected == "outerwear") {
                        subtypes.push("Coat", "Jacket", "Cardigan", "Crewneck", "Hoodie");
                        sizes.push("XXS (W)", "XS (W)", "S (W)", "M (W)", "L (W)", "XL (W)", "XXL (W)", "XS (M)", "S (M)", "M (M)", "L (M)", "XL (M)", "XXL (M)");
                    }

                    if (selected == "shoes") {
                        subtypes.push("Sneakers", "Sandals", "Boots", "Heels/Dress Shoes");
                        sizes.push("5W", "5.5W", "6W", "6.5W", "7W", "7.5W", "8W", "8.5W", "9W", "9.5W", "10W", "10.5W", "11W", "11.5W", "12W", "12.5W", "13W",
                        "7M", "7.5M", "8M", "8.5M", "9M", "9.5M", "10M", "10.5M", "11M", "11.5M", "12M", "12.5M", "13M", "13.5M", "14M");
                    }

                    if (selected == "accessories") {
                        subtypes.push("Hat", "Jewelry", "Watch", "Sunglasses", "Scarf", "Gloves", "Belt", "Bag", "Tie");
                        sizes.push("One-size");
                    } 

                    $("#subtype_select").empty();
                    $("#size_select").empty();

                if (selected == "") {
                    $('#subtype_select').attr("disabled", true);
                    $('#size_select').attr("disabled", true);
                }
                else {
                    $('#subtype_select').attr("disabled", false);
                    $('#size_select').attr("disabled", false);
                    $('#subtype_select').attr("required", true);
                    $('#size_select').attr("required", true);

                    $('#subtype_select').append($('<option>', {
                            value: "",
                            text: "choose a subtype"
                })); 

                $('#size_select').append($('<option>', {
                            value: "",
                            text: "choose a size"
                })); 
                   
                    console.log("subtypes: " + subtypes);
                    console.log("sizes: " + sizes);

                    for (i in subtypes) {
                        $('#subtype_select').append($('<option>', {
                            value: subtypes[i].toLowerCase(),
                            text: subtypes[i]
                        }));
                    }

                    for (j in sizes) {
                        $('#size_select').append($('<option>', {
                            value: sizes[j].toLowerCase(),
                            text: sizes[j]
                        }));
                    }
                }
                });
            }
            //   if (imageUrl != null) {
            //       $('#image1').attr("src", imageUrl);
            //   }
            $('#sell_form').submit(function(){
                if ($('#photolink').val() == "") {
                    alert("Upload at least one photo!");
                    return false;
                }
            
                // if we want to do more intese phone number validation later....
                // if($('#input_phone').val() !== "" && !($('#input_phone').val().match(/\d/g).length===10)){
                //     alert("Please enter a valid 10-digit phone number with no spaces or characters.")
                //     return false;
                // }

                else return True;
            });
    
            $('#document').ready(setup);
        </script>
        </div>
        {% include 'footer.html' %}
  </body>
</html>
